h1{
    color:yellowgreen;
    text-align: center;
}

a.QR_scan {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
}

.left{
    display: inline-table;
    width: 100%;
}
.generales_active, .perso, .supprimees{
    width: 33%;
    text-align: center;
}
.deconnexion{
    right: 0px;
    top: 0px;
    position: absolute;
}
.card-title, .description{
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.supp{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}